.deep{display:flex;height:200px;}
.d1{width:18%;height:100px;margin-top:5%;}
.deep ul{list-style:none;border-radius:10px;border:3px solid blue;}
.deep li{margin-left:-20%;}
.d2{width:18%;height:100px;margin:5% 8% 0;}
.d3{width:20%;border:3px solid blue;background:white;border-radius:10px;margin:2% 0 0 76%;position:absolute;}
.d4{width:18%;height:100px;margin-top:-40%}
.d4 ul{list-style:none;border-radius:10px;border:3px solid blue;}
.d4 li{margin-left:-20%;}
.d5{width:18%;height:100px;margin:-40% 8% 0;}
.d5 ul{list-style:none;border-radius:10px;border:3px solid blue;}
.d5 li{margin-left:-20%;}