{% extends 'base.html'%}

{% block content %}

<div class="wrapper">
    <!-- Sidebar  -->

    {% include 'navbar.html'%}
    <!-- Page Content  -->
    <div id="content">
       {% include 'top-nav.html'%}


        <div class="card">

            <div class="card-header">
                <h6 class="text-uppercase mb-0">Dashboard</h6>
            </div>
            <div class="deep">
                <div class="d1">
                <center><h3>Website</h3></center>
                    <ul>
                        <li>
                            <a>www.site.com</a>
                        </li>
                        <li>Visit</li>
                        <li>Lead</li>
                        <li>Performance</li>
                    </ul>
                </div>
                <div class="d2">
                    <center><h3>Facebook</h3></center>
                    <ul>
                        <li><a>View</a></li>
                        <li>Post</li>
                        <li>Lead</li>
                        <li>XXXX</li>
                    </ul>
                </div>
                 <div class="d1">
                     <center><h3>Linkedin</h3></center>
                    <ul>
                        <li><a>View</a></li>
                        <li>Post</li>
                        <li>Lead</li>
                        <li>XXXX</li>
                    </ul>
                 </div>

            <div class="d3">
                <p>mmmmmmmmmmmmmmmm</p>
                <p>mmmmmmmmmmmmmmmm</p>
                <p>mmmmmmmmmmmmmmmm</p>
                <p>mmmmmmm</p>
            </div>
            </div>
            <div style="display:flex;">
                <div class="d4">
                    <center><h3>JustDial</h3></center>
                    <ul>
                        <li><a>Views</a></li>
                        <li>Post</li>
                        <li>Lead</li>
                        <li>XXXX</li>
                    </ul>
                </div>
                <div class="d5">
                    <center><h3>Google</h3></center>
                    <ul>
                        <li>
                            <a>www.site.com</a>
                        </li>
                        <li>Visit</li>
                        <li>Lead</li>
                        <li>Performance</li>
                    </ul>
                </div>
            </div>

        </div>


    </div>
</div>

<!-- jQuery CDN - Slim version (=without AJAX) -->


{% endblock%}