<nav id="sidebar">
        <div class="sidebar-header">
            <h3><a href="#">E-business </a> </h3>
        </div>

        <ul class="list-unstyled components">
            <!--<p>{{mycus}}</p>-->
            <li class="active">
                <a href="#homeSubmenu" data-toggle="collapse" aria-expanded="false"
                   class="dropdown-toggle">Business Choice</a>
                <ul class="collapse list-unstyled" id="homeSubmenu">
                    <li>
                        <a href="#">Cutomize</a>
                    </li>
                    <li>
                        <a href="#">Business</a>
                    </li>

                </ul>
            </li>
            <li>
                <a href="#pageSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Employee Choice</a>
                <ul class="collapse list-unstyled" id="pageSubmenu2">
                    <li>
                        <a href="#">ABC Employee</a>
                    </li>
                    <li>
                        <a href="#">XYZ Employee</a>
                    </li>

                </ul>
            </li>
            <li>
                <a href="#pageSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Company Choice</a>
                <ul class="collapse list-unstyled" id="pageSubmenu">
                    <li>
                        <a href="#">ABC Pvt.</a>
                    </li>
                    <li>
                        <a href="#">XYZ Ltd.</a>
                    </li>

                </ul>
            </li>

            <li>
                <a href="#">Business Name</a>
            </li>
        </ul>

        <ul class="list-unstyled CTAs">
            <li>
                <a href="#" class="download">Contact No.</a>
            </li>
            <li>
                <a href="#" class="download">Whatsapp No.</a>
            </li>
            <li>
                <a href="#" class="download">Email ID No.</a>
            </li>
        </ul>
    </nav>