{% extends 'base.html'%}

{% block content %}

<div class="wrapper">
    <!-- Sidebar  -->

    {% include 'navbar.html'%}
    <!-- Page Content  -->
    <div id="content">
       {% include 'top-nav2.html'%}


        <div class="card">

            <div class="card-header">
                <h6 class="text-uppercase mb-0">Business</h6>
            </div>
            <div class="card-body">
                <form method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="form-group row">
                        <label class="col-sm-5 col-form-label">Select your id :</label>
                        <div class="col-sm-4">
                            {{ form.govid }}
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-5 col-form-label">Upload id :</label>
                        <div class="col-sm-4">
                            {{ form.upid }}
                        </div>
                    </div>

                    <br>
                    <div>
                        <button type="submit" class="btn btn-danger p-6"><a href="f">Back</a></button>
                        <!--<button type="submit"class="btn btn-success p-6" style="margin:0 30%">Submit</button>-->
                        <button type="submit" class="btn btn-success p-6" style="margin-left: 80%">Next</button>
                    </div>
                </form>
            </div>


        </div>


    </div>
</div>

<!-- jQuery CDN - Slim version (=without AJAX) -->


{% endblock%}